{
	"presets": [
		[
			"@babel/preset-env",
			{ "targets": { "node": "current" }, "debug": true }
		]
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-object-rest-spread"
	],
	"env": {
		"development": {
			"sourceMaps": true,
			"retainLines": true
		}
	}
}
